dist
cabal-dev
*~
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

*.tpl
!snaplets/heist/templates/base.tpl
!snaplets/heist/templates/index.tpl
!snaplets/heist/templates/pipeline.tpl

.virtualenv
.hpc
.hsenv
.cabal-sandbox/
.stack-work/
cabal.sandbox.config
site_key.txt
*.prof
*.aux
*.hp
*.html
