dist
cabal-dev
*~
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

*.tpl
!snaplets/heist/templates/base.tpl
!snaplets/heist/templates/index.tpl
!snaplets/heist/templates/pipeline.tpl

.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.html
