@import 'http://fonts.googleapis.com/css?family=PT+Sans:400,700';


html body
{
//    height: 100%;
    margin: 3em 10em 8em;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #ffffdd;
}

.bottom-space {
    margin-bottom: 1cm;
}

div.fullscreen {
    position: relative;
    text-align: center;
    float: right;
    margin: 3em 0 0 4em;
}

.fullscreen img {
    margin-bottom: 1em;
    width: 300px;
    height: auto;
}

.hidden {
    display: none;
}

th {
    //display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1, th {
    //color: #114b4d;
    color: #119911;
}


h2 {
    //color: #083235;
    color: #119911;
}

a {
    //color: #114b4d;
    //color: #005566;
    color: #bb1100;
}

.fullscreen a {
    color: #119911;
    //color: #007799;
}

code { color: #007020; }
